<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
    <h1>Luíza Miguel de Sales</h1>
    <p>Ajustadora mecânica e programadora</p>
    </div>
</section><!-- End Hero -->

<main id="main">
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

    <div class="section-title">
    <h2>Sobre mim</h2>
    </div>

    <div class="row">
    <div class="col-lg-4" data-aos="fade-right">
    <img src="../../assets/img/luiza.png" class="img-fluid" alt="">
    </div>
    <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
    <h3>Desenvolvedora Front-End</h3>
    <p class="fst-italic">
        Sou a Luíza Miguel. Tenho 20 anos, estudante de Analise e Desenvolvimento de Sistemas no Senai Armando de Arruda Pereira. Atualmente atuo como Ajustadora Mecânica na Mercedes-Benz e trabalho na área logística. 
    </p>
    <div class="row">
        <div class="col-lg-6">
        <ul>
            <li><i class="bi bi-chevron-right"></i> <strong>Nascimento:</strong> <span>8 de março de 2003</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Celular:</strong> <span>11 94283-2874</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Cidade:</strong> <span>Santo André, São Paulo, Brasil</span></li>
        </ul>
        </div>
        <div class="col-lg-6">
        <ul>
            <li><i class="bi bi-chevron-right"></i> <strong>Idade:</strong> <span>20</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>luizamsales@hotmail.com</span></li>
            <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Disponível</span></li>
        </ul>
        </div>
    </div>
    <p>
        Procuro pequenos trabalhos com desenvolvimento e aprimoramento de sites que me tragam bagagem e prática.
    </p>
    </div>
    </div>

    </div>
</section><!-- End About Section -->


<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">

        <div class="section-title">
        <h2>Habilidades</h2>
        <p>Minhas atuais habilidades em diferentes áreas.</p>
        </div>

        <div class="row skills-content">

        <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
            <span class="skill">HTML <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>

            <div class="progress">
            <span class="skill">CSS <i class="val">100%</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>

            <div class="progress">
            <span class="skill">JavaScript <i class="val">85%</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>
            
            <div class="progress">
            <span class="skill">Microsoft Azure AI Fundamentals<i class="val">70%</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>
            
            <div class="progress">
            <span class="skill">MongoDB <i class="val">55%</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>
            
            <div class="progress">
            <span class="skill">Windows <i class="val">90%</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>

        </div>

        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
            <span class="skill">Cyber Security<i class="val">85%</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>


            <div class="progress">
            <span class="skill">SAP<i class="val">55%</i></span>
            <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            </div>

            

        </div>

        </div>

    </div>
</section><!-- End Skills Section -->

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
        <h2>Resumo</h2>
        <p>Meu resumo pessoal e profissional.</p>
        </div>

        <div class="row">
        <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumário</h3>
            <div class="resume-item pb-0">
            <h4>Luíza Miguel</h4>
            <p><em>Experiência na área de mecânica como soldadora, montadora e ajustadora, já na área administrativa com gerenciamento logístico, emissão de nota fiscal, sistema. Buscando oportunidades na área de desenvolvimento web. </em></p>
            <ul>
                <li>Santo André, SP - Brasil</li>
                <li>(11)94283-2874</li>
                <li>luizamsales@hotmail.com</li>
            </ul>
            </div>

            <h3 class="resume-title">Formação</h3>
            <div class="resume-item">
            <h4>Técnólogo em Análise e desenvolvimento de Sistemas</h4>
            <h5>2022-Atualmente</h5>
            <p><em>Senai Armando de Arruda Pereira - SCS </em></p>
            <p>Superior em ADS, expêriencia em desenvolvimento WEB e Mobile, Segurança da Informação, Banco de Dados entre outros. </p>
            </div>
            <div class="resume-item">
            <h4>Técnico em Mecânico de Montagem Veicular</h4>
            <h5>2021-2022</h5>
            <p><em>Senai Mercedes-Benz do Brasil - SBC </em></p>
            <p>Aprendizagem em mecânica com foco em montagem veicular, desenho técnico, hidráulica, pneumática, fresadora e torno, soldagem e controle dimensional.</p>
            </div>
        </div>
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Experiência Profissional</h3>
            <div class="resume-item">
            <h4>Ajustadora Mecânica</h4>
            <h5>2023 - Atualmente</h5>
            <p><em>Mercedes-Benz do Brasil</em></p>
            <ul>
                <li>Montagem de veículos customizados (CTC)</li>
                <li>Desenvolvimento técnicass e aprimoramento logístico</li>
                <li>Gerenciamento e manutenção de almoxarifado</li>
                <li>Controle de abastecimento de peças e organização</li>
            </ul>
            </div>
            <div class="resume-item">
            <h4>Jovem-Aprendiz</h4>
            <h5>2021- Dez 2022</h5>
            <p><em>Mercedes-Benz do Brasil - SBC </em></p>
            <ul>
                <li>Estudos na área de mecânica. </li>
            </ul>
            </div>
        </div>
        </div>

    </div>
</section><!-- End Resume Section -->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
        <h2>Contato</h2>
        </div>

        <div class="row" data-aos="fade-in">

        <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
            <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Endereço:</h4>
                <p>Vila Valparaíso, Santo André - SP</p>
            </div>

            <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>luizamsales@hotmail.com</p>
            </div>

            <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Celular:</h4>
                <p>11 94283-2874</p>
            </div>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7308.478855293081!2d-46.5470025!3d-23.667394249999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce42f9a837bba7%3A0xb7c84de6d44cd800!2sVila%20Valparaiso%2C%20Santo%20Andr%C3%A9%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1701552216659!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>

        <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
                <div class="form-group col-md-6">
                <label for="name">Nome</label>
                <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                <label for="name">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Assunto</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
            </div>
            <div class="form-group">
                <label for="name">Mensagem</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
            </div>
            <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
            </form>
        </div>

        </div>

    </div>
</section><!-- End Contact Section -->

</main><!-- End #main -->
