<div id="espaco"></div>

<section>

    <div class="intro">
        <h1>Cadastre seu currículo na WorkedIn</h1>
        <h1></h1>
        <button class="btn-custom">Clique aqui</button>
    </div>

</section>

<section id="about-us">
<div class="container">
    <h2>Quem Somos? - WorkedIn</h2>
    <p>🚀 Sobre Nós - WorkedIn: Conectando Desenvolvedores ao Futuro 🌐</p>

    <p>Bem-vindo à WorkedIn, a revolucionária plataforma que está redefinindo a forma como os desenvolvedores se destacam e se conectam...</p>

    <h3>✨ Nossa Missão: Capacitar Desenvolvedores para o Sucesso</h3>
    <p>Na WorkedIn, acreditamos no poder transformador da comunidade. Nossa missão é proporcionar a desenvolvedores de todos os níveis uma plataforma aberta e inclusiva para mostrar suas habilidades, projetos e conquistas...</p>

    <h3>💻 Perfil Detalhado, Oportunidades Ilimitadas</h3>
    <p>Destaque-se em um mundo digital lotado! Com perfis robustos, oferecemos a desenvolvedores a chance de apresentar suas habilidades de maneira abrangente...</p>

    <h3>🔗 Conectando Desenvolvedores e Empresas de Forma Eficiente</h3>
    <p>Não é apenas uma plataforma para desenvolvedores, mas também um recurso valioso para empresas. Nossa abordagem inovadora simplifica o processo de recrutamento, conectando empresas a talentos de maneira eficiente e eficaz...</p>

    <h3>🤝 Cultivando uma Comunidade Colaborativa</h3>
    <p>Acreditamos no poder da colaboração. Em WorkedIn, incentivamos a troca de conhecimento, a colaboração em projetos e a construção de relacionamentos profissionais sólidos. Juntos, estamos moldando o futuro da tecnologia...</p>

    <p>Seja parte da revolução em desenvolvimento. Junte-se à WorkedIn e leve sua jornada de programação para novos patamares!</p>
</div>
</section>
